{% extends "base.html" %}
{% block title %}Browse{% endblock %}

{% block content %}
    {{business_id}}
    {% if business_item %}
        Name: {{business_item.name}}<br/>
        {% if address_list %}
            <ul>
            {% for address in address_list %}
                <li>Address: {{address.address1}}<br/>
                    {{ address.address2 }}<br/>
                    {{ address.city }}, {{ address.province }}, {{ address.country }}<br/>
                    Zipcode: {{ address.zipcode }}<br/>
                </li>
                
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        No business available.
    {% endif %}
{% endblock %}