{% extends "base.html" %}

{% if business_item %}
    {% block title %}{{business_item.name}}{% endblock %}
    
    {% block page_name %}{{business_item.name}}{% endblock %}

    {% block content %}
    
    <div class="span-8" id="business_props">
        <h2>Address</h2>
        <ul class="boxed_list">
            <li>{{business_item.address1}}<br/>
                {{ business_item.address2 }}<br/>
                {{ business_item.city }}, {{ business_item.province }}, {{ business_item.country }}<br/>
                {{ business_item.zipcode }}<br/>
            </li>
            <input type="hidden" id="business_id" value="{{business_item.id}}" />
            <input type="hidden" id="business_name" value="{{business_item.name}}" />
            <input type="hidden" id="business_address" value="{{business_item.address1}}, {{ business_item.address2 }}, {{ business_item.city }}, {{ business_item.province }}, {{ business_item.zipcode }}"/>
        </ul>
        <h2>Contact Number</h2>
        <ul class="boxed_list">
        {% for phone in phone_list %}
            <li>{{phone.phone_number}}</li>
        {% endfor %}
        </ul>
        
        <div class="buttons">
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/add.png" alt=""/> <span>Add Review</span></a> 
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/image_add.png" alt=""/> <span>Add Photos</span></a> 
        </div>
        <h2>Reviews</h2>
        <ul class="boxed_list">
        {% for review in reviews %}
            <li>{{review.review}} ({{review.created_at}})</li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="span-16 last ">
        <img src="http://labs.google.com/ridefinder/images/mm_20_red.png" /> = Matches the business name<br/>
        <img src="http://labs.google.com/ridefinder/images/mm_20_yellow.png" /> = Area of interest<br/>
        
        {% if user.is_authenticated %}
            <!-- <div id="show_add_marker" style="cursor: pointer;"><img src="/images/icons/add.png" alt=""/>Add a Business</div> -->
            <div id="add_mark_button" style="cursor: pointer;"><img src="/images/icons/add.png" alt=""/>Add a Marker for {{business_item.name}} (work on this)</div>
        {% else %}
            <div>Location not found? You must register/login to add a Marker on the map.</div>
        {% endif %}
    
        <div style="display: none;">
            <form id="latlng_form">
                {% csrf_token %}
                {{ latlng_form.as_p }}
            </form>
        </div>
        
        <div id="map_canvas" style="width: 470px; height: 300px"></div>
        <div id="map_message"></div>
        <div id="searchwell"></div> 
        
        
    </div>
    
    {% endblock %}
{% else %}
    No business available.
{% endif %} 