{% extends "base.html" %}
{% block title %}Browsing{% endblock %}

{% block page_name %}Browsing{% endblock %}


{% block content %}
<div class="span-22">
    <table style="width: 600px;">
        <tr>
            <th>Business Name</th>
            <th>Categories</th>
			<th>Reviews</th>
			<th>Rating</th>
        </tr>
        {% if business_list %}
            {% for business, categories in business_and_categories_list %}
            <tr>
                <td>
                    {{ business.name }} [
                    <a href="/business/view/{{business.id}}">V3</a> | 
                    <a href="/business/view_v2/{{business.id}}">V2</a> ]
                </td>
				<td>
					{% for category in categories %}
						{{ category }}
						{% if not forloop.last %}
						, 
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{{ business.num_reviews }}
				</td>
				<td>
					{{ business.rating }}
				</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>No business available.</td></tr>
        {% endif %}
    </table>
    {% if business_list %}
        <div class="pagination">
            <span class="step-links">
                {% if businesses.has_previous %}
                    <a href="?page={{ businesses.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ businesses.number }} of {{ businesses.paginator.num_pages }}
                </span>
        
                {% if businesses.has_next %}
                    <a href="?page={{ businesses.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}
