{% extends "base.html" %}

{% if business_item %}
    {% block title %}{{business_item.name}}{% endblock %}
    
    {% block page_name %}{{business_item.name}}{% endblock %}
    
    
    {% block content %}
    
    <div class="span-7" id="business_props">
        {% if address_list %}
            <h2>Address</h2>
            <ul class="boxed_list">
            {% for address in address_list %}
                <li>{{address.address1}}<br/>
                    {{ address.address2 }}<br/>
                    {{ address.city }}, {{ address.province }}, {{ address.country }}<br/>
                    {{ address.zipcode }}<br/>
                </li>
            {% endfor %}
            </ul>
            <h2>Contact Number</h2>
            <ul class="boxed_list">
            {% for phone in phone_list %}
                <li>{{phone.phone_number}}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="span-7">
        Box for Photos
    </div>
    <div class="span-7 last">
        Box for Google Maps
    </div>
    
    <div class="span-24 last">
        <div class="buttons">
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/add.png" alt=""/> <span>Add Review</span></a> 
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/image_add.png" alt=""/> <span>Add Photos</span></a> 
        </div>
    </div>
    
    <div class="span-24 last" id="business_props">
        <h2>Reviews</h2>
        {% load webdesign %}
        <ul class="boxed_list">
            <li class="border_bottom">{% lorem %}</li>
            <li class="border_bottom">{% lorem %}</li>
        </ul>
    </div>
    {% endblock %}
{% else %}
    No business available.
{% endif %} 