{% extends "base.html" %}
{% block title %}Add{% endblock %}
{% block page_name %}Add Business{% endblock %}

{% block content %}
<div class="span-22">
    {% if success %}
    <h1>Success!</h1>
    {% else %}
        {% if error %}
            <h2>Error: {{ error }}</h2>
        {% endif %}
    <form name="business_add" action="" method="post">
        {% csrf_token %}
        <h2>Business info</h2>
        {{ business_form.as_p }}
        <h2>Telephone</h2>
        {{ phone_form.as_p }}
        <h2>Category</h2>
        {{ business_category_form.as_p }}
        <div class="buttons">
            <button type="submit" class="positive">
                <img src="/images/icons/accept.png" alt=""/> 
                Save
            </button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
