{% extends "base.html" %}
{% block title %}Real revies by real people in the Philippines{% endblock %}
{% block page_name %}Welcome!{% endblock %}

{% block content %}
<div class="span-24 last">
    <b>Search for:</b> <input type="text" /> (eg: massage, pizza, coffee, Starbuck's)
    <b>Near:</b> <input type="text" /> (Address, Barangay, City, Province or Zipcode)
    <input type="submit" value="Search"/>
</div>
<div class="span-24 last">
    This file is found in templates/business/business_home.html
</div>
{% endblock %}