{% extends "base.html" %}

{% if business_item %}
    {% block title %}{{business_item.name}}{% endblock %}
    
    {% block page_name %}{{business_item.name}}{% endblock %}

    {% block content %}
    
    <div class="span-12" id="business_props">
        <h2>Address</h2>
        <ul class="boxed_list">
            <li>{{business_item.address1}}<br/>
                {{ business_item.address2 }}<br/>
                {{ business_item.city }}, {{ business_item.province }}, {{ business_item.country }}<br/>
                {{ business_item.zipcode }}<br/>
            </li>
        </ul>
        <h2>Contact Number</h2>
        <ul class="boxed_list">
        {% for phone in phone_list %}
            <li>{{phone.phone_number}}</li>
        {% endfor %}
        </ul>
        
        <div class="buttons">
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/add.png" alt=""/> <span>Add Review</span></a> 
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/image_add.png" alt=""/> <span>Add Photos</span></a> 
        </div>
        <h2>Reviews</h2>
        <ul class="boxed_list">
        {% for review in reviews %}
            <li>{{review.review}} ({{review.created_at}})</li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="span-12 last ">
        <div id="map_canvas" style="width: 475px; height: 300px"></div>
        <div id="map_message"></div>
        <div id="searchwell"></div> 
        <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
            // do stuff when DOM is ready
            var geocoder = new google.maps.Geocoder();
            var address = '{{string_location}}';
            var map;
            var localSearch;
            var infoWindow;
            var selectedResults = [];
            var currentResults = [];
            

            if (geocoder) {
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        //alert(results[0].geometry.location.lat())
                        //alert(results[0].geometry.location.lng())
                        
                        //Create the Map and center to geocode results latlong
                        var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                        var myOptions = {
                            zoom: 14,
                            center: latlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var map = new google.maps.Map(document.getElementById("map_canvas"),
                            myOptions);
                        
                        //Create one InfoWindow to open when a marker is clicked.
                        infoWindow = new google.maps.InfoWindow;
                        google.maps.event.addListener(infoWindow, 'closeclick', function() { 
                            unselectMarkers();
                        });
                        
                        //Initialize the local searcher
                        localSearch = new GlocalSearch();
                        
                        localSearch.setSearchCompleteCallback(null, OnLocalSearch);
    
                        localSearch.execute("{{business_item.name}}");
                        //localSearch.execute("Gethsemane");
                        
                        console.log("Geocoding address: " + address);
                        console.log("Geocoding failed: " + status);
                    } 
                    else {
                        $('#map_message').html('<div class="error">Google could not find the address you are looking for. So, we will display a Google Adsense here instead.');
                        $('#map_canvas').remove();
                        //alert('No results found. Check your console.log()');
                        console.log("Geocoding address: " + address);
                        console.log("Geocoding failed: " + status);
                    }
                });
            }
            /*
            Other functions        
            */
            function unselectMarkers() {
                for (var i = 0; i < gCurrentResults.length; i++) {
                    gCurrentResults[i].unselect();
                }
            }
            
            function OnLocalSearch() {
                if (!localSearch.results /* || localSearch.results.length <= 0*/) {
                    alert('localSearch has no results!');
                    return;
                } 
                
                var searchWell = $("#searchwell");
                
                searchWell.html = "";
                for(var i=0; i < currentResults.length; i++) {
                    if(!currentResults[i].selected) {
                        currentResults[i].marker().setMap(null);
                    }
                }
                
                currentResults = [];
                for (var i=0; i<localSearch.results.length; i++) {
                    console.log("Result "+i+": "+localSearch.results[i]);
                    currentResults.push(new LocalResult(localSearch.results[i]));
                }
                
                var attribution = localSearch.getAttribution();
                if(attribution) {
                    $("#searchwell").append(attribution);
                }
                
                //Move the map to the first result
                var first = localSearch.results[0];
                console.log("localSearch.results[0]: "+localSearch.results[0]);
                console.log("localSearch.results: "+localSearch.results);
                console.log("localSearch.results.length: "+localSearch.results.length);
                map.setCenter(new google.maps.LatLng(parseFloat(first.lat),
                                                     parseFloat(first.lng)));
            }
        });
        //]]>
        </script>
        
    </div>
    
    {% endblock %}
{% else %}
    No business available.
{% endif %} 