{% extends "base.html" %}

{% if business_item %}
    {% block title %}{{business_item.name}}{% endblock %}
    
    {% block page_name %}{{business_item.name}}{% endblock %}

    {% block content %}
    
    <div class="span-9" id="business_props">
            <h2>Address</h2>
            <ul class="boxed_list">
                <li>{{business_item.address1}}<br/>
                    {{ business_item.address2 }}<br/>
                    {{ business_item.city }}, {{ business_item.province }}, {{ business_item.country }}<br/>
                    {{ business_item.zipcode }}<br/>
                </li>
            </ul>
            <h2>Contact Number</h2>
            <ul class="boxed_list">
            {% for phone in phone_list %}
                <li>{{phone.phone_number}}</li>
            {% endfor %}
            </ul>
    </div>
    
    <div class="span-8 ">
        <div id="map_message"></div>
        <div id="map_canvas" style="width: 310px; height: 300px"></div>
        <script type="text/javascript">
        $(document).ready(function() {
            // do stuff when DOM is ready
            var geocoder = new google.maps.Geocoder();
            var address = '{{string_location}}';

            if (geocoder) {
                geocoder.geocode({ 'address': address }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        //alert(results[0].geometry.location.lat())
                        //alert(results[0].geometry.location.lng())
                        
                        var latlng = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                        var myOptions = {
                            zoom: 14,
                            center: latlng,
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        var map = new google.maps.Map(document.getElementById("map_canvas"),
                            myOptions);
                        
                        $.each(results, function(i, result) {
                            //$("#" + i).append(document.createTextNode(" - " + val));
                            //alert(i+': '+result);
                            var marker = new google.maps.Marker({
                                position: new google.maps.LatLng(result.geometry.location.lat(), result.geometry.location.lng()), 
                                map: map, 
                                title:result.formatted_address
                            }); 
                            if(result.geometry.location_type == 'APPROXIMATE') {
                                $("#map_message").html('<div class="notice">Sorry. Google could not find the exact location. The map is displaying the approximate location.</div>');
                            }
                            
                            console.log("Geocoding result address: " + result.formatted_address );
                            console.log("Geocoding result address components: " + result.address_components );
                            console.log("Geocoding result location_type: " + result.geometry.location_type );
                            console.log("Geocoding result viewport: " + result.geometry.viewport);
                        });

                        console.log("Geocoding address: " + address);
                        console.log("Geocoding failed: " + status);
                    } 
                    else {
                        $('#map_message').html('<div class="error">Google could not find the address you are looking for. So, we will display a Google Adsense here instead.');
                        $('#map_canvas').remove();
                        //alert('No results found. Check your console.log()');
                        console.log("Geocoding address: " + address);
                        console.log("Geocoding failed: " + status);
                    }
                });
            }
            /*
            
            */
        });
            
        </script>
        
    </div>
    
    <div class="span-7 last" style="background-color: #ccc">
        Box for Photos
    </div>
    
    <div class="span-24 last">

        <div class="buttons">
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/add.png" alt=""/> <span>Add Review</span></a> 
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/image_add.png" alt=""/> <span>Add Photos</span></a> 
        </div>
    </div>
    
    <div class="span-24 last" id="business_props">
        <h2>Reviews</h2>
        <ul class="boxed_list">
        {% for review in reviews %}
            <li>{{review.review}} ({{review.created_at}})</li>
        {% endfor %}
        </ul>
    </div>
    {% endblock %}
{% else %}
    No business available.
{% endif %} 