{% extends "base.html" %}

{% if business_item %}
    {% block title %}{{business_item.name}}{% endblock %}
    
    {% block page_name %}{{business_item.name}}{% endblock %}

    {% block content %}
    
    <div class="span-12" id="business_props">
        <h2>Address</h2>
        <ul class="boxed_list">
            <li>{{business_item.address1}}<br/>
                {{ business_item.address2 }}<br/>
                {{ business_item.city }}, {{ business_item.province }}, {{ business_item.country }}<br/>
                {{ business_item.zipcode }}<br/>
            </li>
        </ul>
        <h2>Contact Number</h2>
        <ul class="boxed_list">
        {% for phone in phone_list %}
            <li>{{phone.phone_number}}</li>
        {% endfor %}
        </ul>
        
        <div class="buttons">
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/add.png" alt=""/> <span>Add Review</span></a> 
            <a href="/review/add/{{business_item.id}}" class="button"><img src="/images/icons/image_add.png" alt=""/> <span>Add Photos</span></a> 
        </div>
        <h2>Reviews</h2>
        <ul class="boxed_list">
        {% for review in reviews %}
            <li>{{review.review}} ({{review.created_at}})</li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="span-12 last ">
        <img src="http://labs.google.com/ridefinder/images/mm_20_red.png" /> = Matches the business name<br/>
        <img src="http://labs.google.com/ridefinder/images/mm_20_yellow.png" /> = Area of interest<br/>
        <span id="show_add_marker" style="cursor: pointer;"><img src="/images/icons/add.png" alt=""/> Location not found? Click here to add a Marker for a New Location</span>
        
    
        <div id="add_business_container" title="Add a business">
            <form id="add_business_form">
                <h2>Business info</h2>
            	{{ business_form.as_p }}
                <h2>Telephone</h2>
                {{ phone_form.as_p }}
                <h2>Category</h2>
                {{ business_category_form.as_p }}
                <input id="add_marker" type="button" value="Add Marker"/>
            </form>
        </div>        
        
        <div id="map_canvas" style="width: 470px; height: 300px"></div>
        <div id="map_message"></div>
        <div id="searchwell"></div> 
        
        
    </div>
    
    {% endblock %}
{% else %}
    No business available.
{% endif %} 