{% extends "base.html" %}
{% block title %}Browsing{% endblock %}

{% block page_name %}Browsing{% endblock %}

<div class="span-24 last">
{% block content %}
    <table>
        <tr>
            <th>Business Name</th>
            <th>Categories</th>
        </tr>
        {% if business_list %}
            {% for business in businesses.object_list %}
            <tr>
                <td><a href="/business/view/{{business.id}}">{{ business.name }}</a></td>
                <td>[get categories of business]</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td>No business available.</td></tr>
        {% endif %}
    </table>
    {% if business_list %}
        <div class="pagination">
            <span class="step-links">
                {% if businesses.has_previous %}
                    <a href="?page={{ businesses.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ businesses.number }} of {{ businesses.paginator.num_pages }}
                </span>
        
                {% if businesses.has_next %}
                    <a href="?page={{ businesses.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
</div>