{% extends "base.html" %}
{% block title %}Add{% endblock %}

{% block content %}
    {% if success %}
    <h1>Success!</h1>
    {% else %}
        {% if error %}
            <h2>Test {{ error }}</h2>
        {% endif %}
    <h1>Add Review</h1>
    <form name="review_add" action="" method="post">
    	{% csrf_token %}
    	<h2>Review</h2>
    	{{ review_form.as_p }}
        <h2>Details</h2>
        {{ property_form.as_p }}
        <h2>Parking</h2>
        {{ parking_form.as_p }}
        <h2>Serving Time</h2>
        {{ serving_time_form.as_p }}
    	<input type="submit" value="Save"/>
    </form>
    {% endif %}
{% endblock %}