{% extends "base.html" %}
{% block title %}Add a review for {{ business.name }}{% endblock %}
{% block page_name %}Add a review for {{ business.name }}{% endblock %}

{% block content %}
<div class="span-24 last">
    {% if success %}
		<h1>Success!</h1>
    {% else %}
        {% if error %}
            <h2>Test {{ error }}</h2>
        {% endif %}
    <form name="review_add" action="" method="post">
    	{% csrf_token %}
    	<h2>Review</h2>
    	{{ review_form.as_p }}
        <h2>Optional Business Details</h2>
		<p>Do you think the business information is inaccurate? Fill in the form below to submit changes. 
			If the majority says it so, then it will be reflected. (not yet implemented)</p>
        {{ property_form.as_p }}
    	<div class="buttons">
            <button type="submit" class="positive">
                <img src="/images/icons/accept.png" alt=""/> 
                Save
            </button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
