<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Pley: {% block title %}{% endblock %}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection"> 
    
    <!-- Framework CSS --> 
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
 
    <!-- Import fancy-type plugin for the sample page. --> 
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 
</head>

<body>
<div class="container" id="header"> 
    <div class="span-24 last">
        <a href="/">
            <img id="logo" src="/images/logo.png" border=0/>
        </a>
    </div>
    {% block navbar %}
    <div id="navbar" class="span-18">
            <ul>
                <li><a href="/business/browse">Browse Businesses</a></li>
                <li><a href="/business/add">Add Business</a></li>
            </ul>
    </div>
    <div id="navbar" class="span-6 last">
        <ul>
        {% if user.is_authenticated %}
            <li><a href="/accounts/logout">Logout</a></li>
            <li><a href="/accounts/password/change">Change Password</a></li>
        {% else %}
            <li><a href="/accounts/register">Sign-up</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/password/reset">Forgot Password</a></li>
        {% endif %}
        </ul>
    </div>
    {% endblock %}
</div>
<div class="container">
    <div class="span-24 last">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
            <p>Hello! If you want to submit a review or add a business, please register here.</p>
        {% endif %}
    </div>
    
    <div class="span-24 last">
        {% block content %}{% endblock %}
    </div>
    
    <div class="span-24 last">
        &copy; Footer!
    </div>
</div>
</body>
</html>