<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Pley: {% block title %}{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            {% if user.is_authenticated %}
                <li><a href="/accounts/logout">Logout</a></li>
            {% else %}
                <li><a href="/accounts/login">Login</a></li>
                <li><a href="/accounts/register">Sign-up</a></li>
            {% endif %}
            <li><a href="/business/browse">Browse</a></li>
            <li><a href="/business/add">Add Business</a></li>
        </ul>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
            <p>Hello! If you want to submit a review or add a business, please register here.</p>
        {% endif %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>