<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Pley: {% block title %}{% endblock %}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection"> 
    
    <!-- Framework CSS --> 
    <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print"> 
    <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
 
    <!-- Import fancy-type plugin for the sample page. --> 
    <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection"> 
    <link rel="stylesheet" href="/css/nicebutton.css" type="text/css" media="screen"> 
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <script type="text/javascript" src="/js/json_parse.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js "></script>
    <link type="text/css" href="/css/custom-theme/jquery-ui-1.8.4.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-ui-1.8.4.custom.min.js"></script> 
    
    {% if "business/view_v2" in view_name %}        
        <script src="http://maps.google.com/maps?file=api&v=2.x&key={{google_apikey}}" type="text/javascript"></script> 
        <script src="http://www.google.com/jsapi?key={{google_apikey}}" type="text/javascript"></script>
        <script type="text/javascript">
        // First, we have to load the APIs.
        google.load('maps' , '2');
        google.load('search' , '1');
        </script>
    {%else%}
        <!-- For V3 API -->
        <script src="http://www.google.com/uds/api?file=uds.js&v=1.0" type="text/javascript"></script>
        <script src="http://maps.google.com/maps/api/js?v=3.1&sensor=false&region=PH"></script>
        
        <!-- Other local JS -->
        <script type="text/javascript" src="/js/soundex.js"></script>
        <script type="text/javascript" src="/js/marker.js"></script>
        <script type="text/javascript" src="/js/map.js"></script>
        <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
        
        <!-- Map V3 and LocalSearch variables -->
        <script type="text/javascript">
        //<![CDATA[
        var address = '{{string_location}}';             //address only, no business_name
        var clean_address = '{{clean_string_location}}'; //this is used for the soundex
        var business_name = '{{business_item.name}}';
        var map;
        var marker;
        var infowindow;
        var geocode_lat;
        var geocode_lng;
        var business_city = "{{business_item.city}}";
        var business_province = "{{business_item.province}}";
        var business_country = "{{business_item.country}}";
        var business_zipcode = "{{business_item.zipcode}}";
        //]]>
        </script>
    {%endif%}
</head>


<body>
<div class="container" id="header"> 
    <div class="span-17">
        <a href="/">
            <img id="logo" src="/images/logo.png" border=0/>
        </a>
    </div>
    <div id="navbar_sub" class="span-7 last">
        <ul>
        {% if user.is_authenticated %}
            <li>Logged in as: <b><a href="/profiles/{{user.username}}">{{ user.username }}</a></b></li>
            <li><a href="/accounts/logout">Logout</a></li>
            <li><a href="/accounts/password/change">Change Password</a></li>
        {% else %}
            <li><a href="/accounts/register">Sign-up</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/accounts/password/reset">Forgot Password</a></li>
        {% endif %}
        </ul>
    </div>
    {% block navbar %}
    <div id="navbar" class="span-17">
            <ul>
                <li><a href="/business/browse">Browse Businesses</a></li>
                <li><a href="/business/add">Add Business</a></li>
            </ul>
    </div>
    {% endblock %}
</div>
<div class="container">
    <div id="page_name" class="span-24 last">
        {% if user.is_authenticated %}
		<p>Welcome, <a href="/profiles/{{user.username}}">{{ user.username }}</a>. Thanks for logging in.</p>
        {% else %}
            <p>Hello! If you want to submit a review or add a business, please register here.</p>
        {% endif %}
    </div>
    <div id="page_name" class="span-24 last">
        <h1>{% block page_name %}{% endblock %}</h1>
    </div>    
    
    
    {% block content %}{% endblock %}

    
    <div class="span-24 last">
        &copy; Footer!
    </div>
</div>

</body>
</html>
