#navbar {
    background-color: #2b2b2b;
}
 
#navbar ul {
    margin: 0; 
    padding: 0 0 0 8px;
    float: left;
    font-size: 0.9em;
}
 
#navbar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
 
#navbar ul li a{
    float: left; 
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
}
 
#navbar ul li a:visited {
    color: white;
}
 
#navbar ul li a:hover, #navbar ul li .current{
    color: #fff;
    background-color:#100e0e;
}

#header {
    background-color:#2b2b2b;
}    

#logo {
    padding: 10px 0 0 5px;
}