#navbar {
    background-color: #2b2b2b;
}
 
#navbar ul {
    margin: 0; 
    padding: 0 0 0 8px;
    float: left;
    font-size: 0.9em;
}
 
#navbar ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
 
#navbar ul li a{
    float: left; 
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
}
 
#navbar ul li a:visited {
    color: white;
}
 
#navbar ul li a:hover, #navbar ul li .current{
    color: #fff;
    background-color:#100e0e;
}

.map_notice {
}

#navbar_sub {
    background-color: #2b2b2b;
}
 
#navbar_sub ul {
    margin: 0; 
    margin: 0 -15px 0 0;
    padding: 0 0 0 0;
    text-align: right;
    font-size: 0.9em;
}
 
#navbar_sub ul li {
    display: inline;
    list-style-type: none;
    padding: 0 0 0 0;
}
 
#navbar_sub ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 5px 5px 5px;
}
 
#navbar_sub ul li a:visited {
    color: white;
}
 
#navbar_sub ul li a:hover, #navbar ul li .current{
    color: #fff;
    background-color:#100e0e;
}

#header {
    background-color:#2b2b2b;
    width: 975px;
}    

#logo {
    padding: 0 0 0 5px;
}

#page_name h1{
    color: #4A79AA;
    font-size: 1.8em;
    text-shadow:2px 2px 0 rgba(0, 0, 0, 0.10);
    letter-spacing:1px;
    margin:5px 5px 5px 0;
    padding:5px 0 0 0;
}

#business_props h2 {
    font-size: 1.2em;
    margin: 10px 0 0 0;
    /*color: #565656;*/
    text-transform: uppercase;
    color:#52595D;
    clear: both;
    display: block;
}

#business_props ul {
    margin: 0 0 10px 0;
    /*padding: 5px 5px 5px 5px;*/
    /*font-size: 0.95em;*/
    font-size: 1.0em;
    border:2px solid #DDDDDD;

    padding:0.8em;
}
#business_props ul li{
    list-style-type: none;
}

.boxed_list {
    color: #2b2b2b;
    border: 1px solid #E5E5E5;
    background-color: #FCFCFC;
    padding: 0;
    margin: 0;
}

.border_bottom{
    border-bottom: 1px dashed #E5E5E5;
    padding: 0 0 10px 0;
}

.icon {
    margin:0 7px -3px 0 !important;
}

#map_canvas {
}

#mapsearch {
    width : 480px;
    margin: 0 0 65px 0;
    padding: 0;
    /*border : 1px solid #f9f9f9;*/
    height: 300px;
    clear:both;
    display: block;
}

/* set height of idle state map */
#mapsearch .gsmsc-idleMapDiv { 
    height :300px; 
}

/* set height of active state map */
#mapsearch .gsmsc-mapDiv { 
    height : 300px; 
}

.hotspot {
    cursor: pointer;
}

.hotspot:hover {
    text-decoration: underline;
    color: #6281A1;
}

#hotspots {
    border: 1px solid #E5E5E5;
    background-color: #FCFCFC;
    padding: 0;
    margin: 0;
}

#hotspots h3 {
    color: #2b2b2b;
}

#recommendations {
    padding: 2px 4px 2px 5px;
    background-color: #FFE8E8;
    border: 1px solid #FFD2D2;
    margin: 0 0 0 0;
}

#results {
    margin: 10px 0 0 0;
    font-size: 0.95em;
}


.medium_text {
    font-size: 0.9em;
}